/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2 {
  font-family: 'Poppins', sans-serif;
  color: var(--darkGrey); }

p, h3, h4, a {
  font-family: 'Arimo', sans-serif;
  color: var(--darkGrey); }

h1 {
  font-size: 2.5rem;
  color: var(--darkGrey); }

p {
  font-size: 1.5rem;
  color: var(--darkGrey); }

.hero_caption {
  font-family: 'Arimo', sans-serif;
  font-size: 2.5rem; }

.emphasis {
  font-family: 'Lobster', sans-serif;
  color: var(--red);
  font-size: 2.7rem; }

.about_container .about_title {
  font-size: 10rem; }

.about_skillTitle {
  font-size: 1.5rem; }

:root {
  --darkGrey: rgb(64, 68, 89);
  --lightYellow: rgb(242, 190, 160);
  --lightgrey: rgb(101, 107, 140);
  --red:  rgb(242, 48, 5); }

header {
  position: block;
  display: flex;
  width: 100%; }

.header_container {
  background-color: var(--darkGrey);
  padding: 1.5rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  filter: drop-shadow(0 2mm 1mm rgba(0, 0, 0, 0.7)); }

.nav {
  margin: 0 3rem; }

.nav_items {
  display: flex; }

.title {
  color: var(--lightYellow); }

.nav_item {
  color: var(--lightYellow);
  padding: 5%; }

.nav_burger {
  display: none; }

.hero_container {
  width: 100%; }

.hero_image {
  position: relative;
  object-fit: cover;
  width: 100%; }

.hero_container {
  position: relative;
  display: inline-block; }
  .hero_container .hero_caption {
    position: absolute;
    left: 10%;
    top: 30%;
    text-align: center; }
  .hero_container .hero_reactiveDemo {
    position: absolute;
    left: 50%;
    top: 25%;
    display: inline;
    width: 40%; }

@media screen and (max-width: 700px) {
  .nav_items {
    display: none; }
  .nav_burger {
    display: block;
    width: 40px;
    margin-left: 20px; }
  .nav {
    margin: 0; }
  .header_container {
    padding: 1rem 4rem; } }

@media screen and (max-width: 420px) {
  .header_container {
    padding: 1rem 1rem; } }

@media screen and (max-width: 1100px) {
  .hero_container .hero_caption {
    font-size: 1.7rem;
    left: 10%;
    top: 30%; }
    .hero_container .hero_caption .emphasis {
      font-size: 2rem; }
  .hero_container .hero_reactiveDemo {
    left: 55%;
    top: 25%;
    width: 35%; } }

@media screen and (max-width: 700px) {
  .hero_container .hero_reactiveDemo {
    display: none; }
  .hero_container .hero_caption {
    font-size: 1.3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%); }
    .hero_container .hero_caption .emphasis {
      font-size: 1.5rem; } }

@media screen and (max-width: 500px) {
  .hero_container .hero_caption {
    font-size: 1rem;
    transform: translate(-50%, -100%); }
    .hero_container .hero_caption .emphasis {
      font-size: 1.2rem; } }
