.about_container {
    width: 60%;
    margin: auto;

    .about_skills {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: space-between;

        .about_skill {
            display: flex;
            align-items: center;
            margin-bottom: 4rem;

            .about_skillThumbnail {
                margin-right: 2rem;
            }
        }
    }
}