header {
    position: block;
    display: flex;
    width: 100%;
}

.header_container {
    background-color: var(--darkGrey);
    padding: 1.5rem 4rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    // filter: drop-shadow(100mm 1000mm 100mm rgba(0, 0, 0, 0.7));
}

.nav {
    margin: 0 3rem;
}

.nav_items {
    display: flex;
    padding-right: 3rem;
}


// Text
.title {
    color: var(--lightYellow);
}

.nav_item {
    color: var(--lightYellow);
    padding: 6%;
    font-size: 1.5rem;
}

.nav_item:hover {
    cursor: pointer;
}