.hero_container {
    position: relative;
    display: inline-block;

    .hero_caption {
        position: absolute;
        left: 10%;
        top: 30%;

        text-align: center;
    }

    .hero_reactiveDemo {
        position: absolute;
        left: 50%;
        top: 25%;


        display: inline;
        width: 40%;
    }
}

