.hero_container {
    width: 100%;
}

.hero_image {
    position: relative;
    object-fit: cover;
    width: 100%;
    
}

// ============
// Contact/social media
.contact_container {
    width: 60%;
    margin: auto;
    margin-top: 8rem;

    .icon {
        width: 70px;
    }
}

.icon_container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 5rem;
}

.contact_title {
    font-size: 2rem;
    margin: 2rem;
}
