.hero_container {
    width: 100%;
}

.hero_image {
    position: relative;
    object-fit: cover;
    width: 100%;
    
}

.about_skillThumbnail {
    display: flex;

    img {
        flex-direction: row-reverse;
    }
}