// Header
@media screen and (max-width: 700px) {
    .nav_items {
        display: none;
    }

    .nav_burger  {
        display: block;
        width: 40px;
        margin-left: 20px;
    }

    .nav {
        margin: 0;
    }

    .header_container {
        padding: 1rem 4rem;
    }
}

@media screen and (max-width: 420px) {
    .header_container {
        padding: 1rem 1rem;
    }
}


// Hero
@media screen and (max-width: 1360px) {
    .hero_container {
        .hero_caption {

            .emphasis {
                font-size: 2rem;
            }

            font-size: 1.7rem;

            left: 10%;
            top: 30%;
        }

        .hero_reactiveDemo {
            left: 55%;
            top: 25%;

            width: 35%;
        }
    }
}

@media screen and (max-width: 1080px) {
    .hero_container {
        .hero_reactiveDemo {
            left: 25%;
            width: 50%;
            top: 15%;
        }
        .hero_caption {
            display: none;
        }
    }
}

@media screen and (max-width: 500px) {
    .hero_container {
        .hero_reactiveDemo {
            display: none;
        }
    }
}

