h1, h2 {
    font-family: 'Poppins', sans-serif;
    color: var(--darkGrey);
}

p, h3, h4, a  {
    font-family: 'Arimo', sans-serif;
    color: var(--darkGrey);
}

h1 {
    font-size: calc(32px + 1vw);
    color: var(--darkGrey);
}

p {
    font-size: calc(24px + 1vw);
    color: var(--darkGrey);
}

// ===============================================
// Titles
.about_title, .projects_title {
    font-size: calc(40px + 1vw);
    margin: 2.5rem 0 1.5rem 0;
}

// ===============================================
// Hero
.hero_caption {
    font-family: 'Arimo', sans-serif;
    font-size: calc(1.3rem + 1vw);
}

.emphasis {
    font-family: 'Lobster', sans-serif;
    color: var(--red);
    font-size: calc(1.6rem + 1vw);
}

// ===============================================
// Section title
.about_skillTitle {
    font-size: calc(32px + 1vw);
}

.projects_name {
    font-size: calc(32px + 1vw);
}

.about_skillText {
    font-size: calc(24px + 1vw);
}

// ===============================================
// Projects
